{% extends 'layout/default_layout.html.twig' %}

{% block content %}
    <div class="container mt-100">
        <div class="row mb-100">
            <div class="offset-xl-3 col-xl-6">
                <h1 class="page-title mb-50">
                    {{ 'request_pwd.page_title'|trans({}, 'login') }}
                </h1>

                {% if emailSent is same as true %}
                    <div class="bg-primary text-white p-3 mb-30">
                        {{ 'request_pwd.request_success'|trans({}, 'resetting') }}
                    </div>


                    <a href="{{ cms_path('homepage') }}" class="btn btn--link">
                        {{ 'request_pwd.back_home'|trans({}, 'resetting') }}
                    </a>
                {% else %}
                    {{ form_start(form) }}
                    <div class="form-floating">
                        {{ form_widget(form.email) }}
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


