{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div id='admin-login-video'>
        <video preload="none" loop autoplay muted>
            <source src='{{ asset('bundles/webetdesigncms/wd_vid.mp4') }}' type='video/mp4'>
            <p class='vjs-no-js'>
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
            </p>
        </video>
    </div>

    <div class=" login-container d-flex justify-content-center align-items-center">
        <div class="login-box">
            {% block login_box_header %}
                <div class="login-logo">
                    <a href="{{ path('sonata_admin_dashboard') }}">
                        {% if sonata_admin.adminPool.getOption('title_mode') in ['single_image', 'both'] %}
                            <div class="d-flex">
                                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}"
                                     alt="{{ sonata_admin.adminPool.title }}">
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endblock %}
            <div class="login-box-body">
                {% block sonata_user_login_form %}
                    {% block sonata_user_login_error %}
                        {% if error %}
                            <div class="alert alert-danger alert-error">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                    {% endblock %}
                    <p class="login-box-msg">{{ 'title_wd'|trans({}, 'AdminLogin') }}</p>
                    <form method="post" role="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group has-feedback">
                            <input class="form-control"
                                   id="username"
                                   name="_username"
                                   placeholder="{{ 'security.login.username'|trans({}, 'AdminLogin') }}"
                                   required="required"
                                   type="text"
                                   value="{{ last_username }}"/>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input class="form-control"
                                   id="password"
                                   name="_password"
                                   placeholder="{{ 'security.login.password'|trans({}, 'AdminLogin') }}"
                                   required="required"
                                   type="password"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="checkbox login-checkbox">
                                            <label>
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                {{ 'security.login.remember_me'|trans({}, 'AdminLogin') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <button type="submit"
                                                class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans({}, 'AdminLogin') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <a href="{{ path('admin_reset_password_request') }}">{{ 'forgotten_password'|trans({}, 'AdminLogin') }}</a>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock sonata_wrapper %}
