{% extends 'layout/default_layout.html.twig' %}

{% block content %}
    <div class="container mt-100">
        <div class="row mb-100">
            <div class="offset-xl-3 col-xl-6">
                <h1 class="page-title mb-50">
                    {{ 'reset_pwd.page_title'|trans({}, 'login') }}
                </h1>
                {{ form_start(form) }}
                    <div class="form-floating">
                        {{ form_widget(form.plainPassword.first) }}
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-floating">
                        {{ form_widget(form.plainPassword.second) }}
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                    {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}



